In [1]:
import pandas as pd
import numpy as np

In [2]:
data_train = pd.read_csv("Final_Train_Dataset.csv")

In [3]:
data_train

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305
5,5,5-10 yrs,4.\tWillingness to travel;5.\tExperience in Te...,Senior Trainer- Academics,NaN,"academics, effective communication, teacher tr...",Noida,6to10,4428
6,6,13-15 yrs,- Experience in managing fraud analytics with ...,Associate Vice President - Fraud Analytics - S...,Analytics,"Fraud Analytics, People Management Skills, Tea...",Delhi NCR,25to50,1988
7,7,6-10 yrs,Qualified Chartered Accountant with 1-3 yrs of...,Manager - Internal Audit - CA - Big4,NaN,"Accounting, Internal Audit, Auditing, Enterpri...",Pune,6to10,1793
8,8,1-3 yrs,Proven experience as payroll executive or spec...,Payroll Executive,NaN,"esic, hr, bonus, pf, tds, payroll, superannuat...",Ahmedabad(Bodakdev),0to3,3398
9,9,2-6 yrs,Other activities as may be required over the p...,Required CA (manager Finance) for R&R Salons P...,NaN,"accounting standards, finance, auditing, finan...",Bengaluru(Kodihalli),15to25,3444
10,10,3-7 yrs,Manage large volumes of structured and unstruc...,Business Analyst,NaN,"Test Data, Data Science, Business Analysis, Ma...",Mohali,6to10,3492
11,11,10-12 yrs,- Experience in Credit card/ banking domain wi...,Senior AVP - Model Development - Bank - IIM/ M...,Analytics,"Banking, Model Development, Analytics, People ...","Delhi NCR, Gurgaon",10to15,1969
12,12,2-6 yrs,3+ years of software development experience;Le...,Sales and Marketing Data Analyst - Data Analytics,Analytics,"Marketing Automation, Sales, Salesforce, Eloqu...",Pune(Kharadi),10to15,3692
13,13,2-4 yrs,- Knowledge of big data concepts and hands-on ...,Analytics Specialist - Data Science & Big Data,Analytics,"Data Science, Machine Learning, R, Big Data, P...",Mumbai,6to10,4479
14,14,1-6 yrs,Job Responsibilities: \tFinalization of Annu...,Manager / Assistant Manager- FP &A,NaN,"Budgeting, Variance Analysis, Forecasting, Capex",Gurgaon,10to15,2127
15,15,3-6 yrs,- Masters/ MS in computer science or other qua...,NLP & Semantic Specialist - Java/j2ee,NaN,"Spring, Core Java, J2Ee, Hibernate, Javascript...","Gurgaon, Gurugram",10to15,2914
16,16,5-8 yrs,- 2+ years of hands-on experience with the Had...,Hadoop Developer - Rdbms/netezza/oracle,NaN,"Hadoop, HBase, Digital Marketing, Netezza, Uni...",Bengaluru,6to10,3998
17,17,3-6 yrs,3+ years experience performing financial and a...,Business Finance Partner,NaN,"Business Finance, Financial Control, Business ...",Bengaluru,10to15,1548
18,18,4-9 yrs,- Work with various stake holders and understa...,Data Scientist - Ecommerce,NaN,"Information Retrieval, Hadoop, Hive, Spark, Ma...",Bengaluru,15to25,2401
19,19,3-5 yrs,Experience in managing and running campaigns o...,Digital Marketing Role,NaN,"Digital Marketing, Google Adwords, marketing, ...",Bengaluru,6to10,4554
20,20,1-5 yrs,"Design, code, test, debug, and record those pr...","Business Analyst - Gurgaon, HR",NaN,"Business Analyst - Gurgaon, HR",Gurgaon,6to10,3113
21,21,8-12 yrs,Experience setting up privacy frameworks incor...,"Cyber Risk - Chennai Location - Privacy, Data ...",NaN,"Business Continuity, Data Privacy, ISMS, Infor...",Chennai,25to50,1178
22,22,10-12 yrs,Strong Leadership and mentoring skills with mi...,Avp/senior AVP - SAS Analytics - Consulting Fi...,Analytics,"project implementation, client management, sas...",Bengaluru,10to15,1969
23,23,3-5 yrs,Ensure all data required for centralized dunni...,"Analyst, AR",NaN,"AR, reconciliations, Finance, Accounting, work...",Pune,0to3,2650
24,24,1-4 yrs,- Analyses the data gathered from performance ...,Immediately Required Software Tester in IT Par...,NaN,"manual testing, test scripts, performance test...",Chandigarh,0to3,4681
25,25,10-20 yrs,- Should be very good in team handling - must ...,Project Manager - Investment Research - BFSI,NaN,"Sales, Equity Research, Investment Research, I...",Mumbai,25to50,4298
26,26,3-7 yrs,NaN,"E Commerce Manager,",NaN,"amazon, E - commerce, PORTAL HANDLING, Busines...",Ahmedabad(Bopal),3to6,895
27,27,3-5 yrs,Accurately & timely preparation of Standard MI...,Financial Business Analyst (third Party Payroll),NaN,"finance, mis, business analysis, Excel, Macros",Gurgaon,0to3,3063
28,28,1-3 yrs,Accenture Technology powers our clients busine...,IXO IOT Applications,Analytics,"Analytics, Javascript, SCADA, Outsourcing, Pyt...",Bengaluru,3to6,190
29,29,2-5 yrs,1.\t2-3 years of experience in Life Insurance ...,Opportunity for Junior Manager / Assistant Man...,NaN,"Life Insurance, Actuarial, Actuarial Analyst, ...","Mumbai, Mumbai Suburbs",15to25,2012
...,...,...,...,...,...,...,...,...,...
19772,19772,0-1 yrs,Providing the clients required support for pur...,Urgent Hiring/ Walk In Drive for BDE - Jhande...,NaN,"business development, marketing, franchisee de...",Delhi,0to3,294
19773,19773,18-25 yrs,- Should carry 15-20 years of total experience...,Head - Product Management - Telecom/r&d - Iit/...,NaN,"Product Management, Head - Product Management,...","Bengaluru, Mumbai, Gurgaon, Gurugram",25to50,2621
19774,19774,7-10 yrs,"You must have a degree in Computer Science, Co...",Vertica Technical Specialist - Centre of Excel...,NaN,"C, Algorithms, C++, Data Structures, Multithre...","Delhi, Mumbai, Bengaluru",15to25,2773
19775,19775,1-5 yrs,NaN,R1rcm- Accretive Analyst/ Senior Analyst Backe...,NaN,"bpo, kpo, non bpo, night shift, us process, uk...",Gurgaon,0to3,2094
19776,19776,0-1 yrs,NaN,Software Sales CRM,analytics,"software sales, selling, predictive analytics,...",Hyderabad(Madhapur),0to3,269
19777,19777,8-13 yrs,- Applicants with good understanding of report...,Senior Manager - Reporting/analytics & Busines...,analytics,"sales enablement, mis, business operations, bu...",Bengaluru,25to50,1893
19778,19778,9-11 yrs,Experience : 9 - 11 years relevant experience ...,Zonal Business Head - Lcv/hcv/ce Financing - N...,NaN,"Driving, HCV, LCV, Commercial Vehicle, Structu...",Chennai,10to15,3319
19779,19779,9-14 yrs,- A minimum of three years prior experience in...,Trading Head - Market Making/high Frequency Tr...,NaN,"High Frequency Trading, Trading Head",India,25to50,1353
19780,19780,3-5 yrs,Experience of working in DevOps model and Agil...,Azure Developer,NaN,"Hive, Spark, Hadoop, Talend, Devops, Data Inte...",Hyderabad,10to15,874
19781,19781,2-5 yrs,Urgently looking to hire Content Auditors with...,Content Auditor,NaN,"copy writing, Content Analysis, content resear...",Noida,6to10,2829
19782,19782,1-4 yrs,NaN,"Credit Manager,",NaN,"Financial Analysis, Credit Analysis, Finance, ...",Delhi NCR(Peeragarhi),0to3,3940
19783,19783,5-10 yrs,At least 5 years hands on experience in IT;Sel...,Security Operations Analyst,NaN,"nessus, splunk, wireshark",Mumbai,10to15,3498
19784,19784,5-8 yrs,Should have the ability to network amongst var...,Collection Analyst,NaN,"NBFC, Interpersonal skills, Legal, Collection ...",Kolkata,10to15,911
19785,19785,7-10 yrs,Checking monthly bills & certification of vend...,Job Opening for Mep-qs for a Leading PMC in Mu...,NaN,"Estimation, Billing, Business Planning, Rate A...",Mumbai,10to15,2365
19786,19786,1-6 yrs,Candidate must have at least 2 years of experi...,Full time Digital Marketing Trainer( Apply by ...,NaN,"digital marketing, seo, email marketing, youtu...","Kanpur, Lucknow, Agra",3to6,1110
19787,19787,5-10 yrs,5-8+ years experience in FP&A; Finance / Busin...,FP&A Lead,NaN,"Finance, Accounting, Budgeting, Financial Anal...","Greater Noida, Gurgaon",15to25,779
19788,19788,1-6 yrs,Candidate should be localities;Qualification :...,Opening for Relationship Manager-direct Marketing,NaN,"Sales, Marketing, Benefits, Cross Selling, Sal...","Chennai, Coimbatore",0to3,3188
19789,19789,8-11 yrs,- Experience with systems administration and o...,Principal Software Engineer - IT,NaN,"powershell, octopus, .net, continuous integrat...",Bengaluru,10to15,1174
19790,19790,1-6 yrs,"FRESHERS with Good communication skills , reas...",Executive / AM Sales / Sr Counselor -- Bangalore,NaN,"student advisor, career advisor, enrollment ex...",Bengaluru(Jayanagar+1),0to3,2036
19791,19791,9-14 yrs,Organizational and project management skills; ...,Senior Product Manager,NaN,"Product Strategy, Project Management, Marketin...",Chennai,15to25,1871
19792,19792,5-10 yrs,- Notice period should not be more than 30 day...,PHP Analyst - Mysql/javascript,NaN,"HTML, Javascript, CSS, JQuery, JSON, Html5, My...","Delhi NCR, Greater Noida",10to15,4272
19793,19793,4-7 yrs,Programming knowledge(Python/Java) with good u...,SDET - Selenium Webdriver & (python/java),Analytics,"java, selenium webdriver, sdet, python, contin...",Chennai,10to15,1727
19794,19794,7-12 yrs,Selling SAAS security solution in SOAR space f...,Solution Architect-security for Bangalore / Mu...,Analytics,"Security Analytics, SIEM, Arcsight, QRadar, Sp...","Bengaluru, Delhi NCR, Mumbai",10to15,4384
19795,19795,3-6 yrs,Should have ability to do due diligence withou...,Opening for CA Fresher | Amravati,NaN,"Lap, Credit Policy, HL, Credit Risk Management...",Amravati,3to6,173
19796,19796,1-3 yrs,2.\tShould have good communication skills;1.\t...,Executive Custome Executive (merchandising ),NaN,"HTML, XML, C, Communication Skills",Pune,0to3,838
19797,19797,12-18 yrs,NaN,"Director, Medical Coding Training",NaN,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245
19798,19798,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966
19799,19799,8-13 yrs,Annuities Domain experience is mandatory;Work ...,PM- C#/ .Net ( Annuity/ Insurance Domain),NaN,"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,15to25,4272
19800,19800,1-3 yrs,- By plugging into our market-leading global n...,Consultant - Internal Audit,NaN,"accounting, internal audit, auditing, risk adv...",Pune,10to15,1793
19801,19801,2-5 yrs,- 3-5 years experience with the end to end pro...,Unity 3D Developer - Mobile Games Development,NaN,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,10to15,1349